
/*Authoring*/

#btg_property_search_select {
	width: 100%;
}

#btg_property_search label.error{
	color: red;
	margin-left: 5px;
	line-height: 2.5em;
}

/*Admin*/



/*Widget*/
/*
#btg_property_search-2      = widget container
.widget-title               = widget title (Duh!) - FYI this is a H3 element
#btg_property_search        = form
#btg_property_search_type   = div wrapping type radio buttons
.btg_property_search_phrase = input box
.btg_property_search_button = submit button
*/

#btg_property_search-4 {
	
	position: relative;
	min-width: 900px;
	margin: 0 0 30px;
	padding: 20px 0 20px 20px;
	background: #F9F9F9 url(img/bg-dots.png);
	border: none !important;
	
}

.btg_property_search_button {
	
	margin-top: 10px;
	float: right;
	margin-right: 20px;
	text-align: center;
	width: 112px;
	padding: 7px 25px 7px 28px;
	background: #B9D433 url(img/bg-arr-right-white.png) no-repeat 10px center;
	color: white!important;
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px;
    text-decoration: none;
    border: none;

}

#btg_property_search .btg_property_search_phrase {

	width: 860px; /* used during testing */
	padding: 8px 10px;
	background: white;
	color: #606060;
	border: 1px solid #DDD;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}
#btg_property_search #btg_property_search_type {
	float: left;
	margin-right: 20px;
	margin-top: 10px;

}

.ui-autocomplete {
	
}

.ui-menu .ui-menu-item {
	list-style: none !important;
}